* {
    margin: 0;
    padding: 0;
    font-family: 'Oxanium', cursive;
    font-family: 'Play', sans-serif;
}

body {
    background: white;
    overflow: scroll;
}

.navbar {
    width: auto;
    height: auto;
    margin: 0;
    padding-left: 15px;
    padding-top: 15px;
    background: #87CEFA;
    box-shadow: 0 0 10px gray;
    z-index: 9999;
    display: flex;
}

.navbar .logo {
    font-size: 24px;
    color: white;
}

.navbar .toggler-navbar {
    margin-right: 15px;
}

.sidebar {
    top: 59px;
    left: 0;
    width: 230px;
    position: absolute;
    height: auto;
    border-bottom-right-radius: 30px;
    background: #1c93e5;
    text-align: left;
    font-size: 20px;
    transform: rotate3d(0, 1, 0, 90deg);
    transform-origin: left center;
    transition: .5s;
}

.sidebar.open {
    transform: rotate3d(0, 1, 0, 0deg);
}

.sidebar ul {
    list-style: none;
}

.sidebar li:hover,
.sidebar li.active {
    background: #0000003F;
}

.sidebar li a {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.hamburger-menu {
    width: 30px;
    height: 30px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.hamburger-menu span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.hamburger-menu span:nth-child(1) {
    top: 2.5px;
}

.hamburger-menu span:nth-child(2) {
    top: 11px;
}

.hamburger-menu span:nth-child(3) {
    top: 21px;
}

.hamburger-menu.open span:nth-child(1) {
    top: 15px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.hamburger-menu.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.hamburger-menu.open span:nth-child(3) {
    top: 14px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);   
}

.bg {
    background: url("../img/background.jpg");
    width: 100%;
    height: 400px;
    text-align: center;
}

.bg .fz21 {
    text-align: center;
    font-size: 21px;
    color: white;
    padding-top: 100px;
}

.bg .fz40 {
    text-align: center;
    color: white;
    padding-top: 25px;
    font-size: 40px;
}

.bg .fz18 {
    text-align: center;
    color: white;
    padding-top: 25px;
    font-size: 18px;
}

.partner {
    background: white;
    width: 100%;
    height: 300px;
    padding-top: 0;
}

.partner .pf {
    font-size: 24px;
    color: black;
    padding-top: 40px;
    text-align: center;
}

.partner .img .jki {
    height: 100px; 
    margin-left: 120px;
}

.partner .img .ads {
    height: 100px;
     margin-left: 100px;
}

.partner .img .vip {
    height: 100px; 
    margin-left: 100px;
}

.partner .img .letris {
    height: 100px; 
    margin-left: 100px;
}

.partner .img .konsep {
    height: 100px; 
    margin-left: 120px;
}

.partner .img .politeknik {
    height: 100px; 
    margin-left: 175px;
}

.partner .img .umc {
    height: 100px; 
    margin-left: 220px;
}

.partner .img .tegar {
    height: 100px;
    margin-left: 190px;
}

.kursus {
    margin-top: 130px;
    display: flex;
    width: 100%;
}

.kursus .ptn {
    background: url("../img/bg-ptn.jpg");
    width: 25%;
    height: 340px;
    opacity: 0.5;
}

.kursus .ptn:hover {
    opacity: 1.0;
}

.kursus .ptn .fptn1 {
    color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 70px;
}

.kursus .ptn .fptn1:hover {
    color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 70px;
}

.wa {
    position: fixed;
    float: right;
    width: 100px;
    height: 100px;
}

@media screen and (max-width: 600px) {

    .sidebar {
        top: 59px;
        left: 0;
        width: 100%;
        height: inherit;
        background: #1c93e5;
        text-align: left;
        font-size: 20px;
        transform: rotate3d(0, 1, 0, 90deg);
        transform-origin: left center;
        transition: .5s;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
    }
    
    .sidebar.open {
        transform: rotate3d(0, 1, 0, 0deg);
    }
    
    .sidebar ul {
        list-style: none;
    }
    
    .sidebar li:hover,
    .sidebar li.active {
        color: #1c93e5;
    }
    
    .sidebar li a {
        color: black;
        text-decoration: none;
        padding: 10px 15px;
        text-align: center;
        display: block;
    }

    .bg {
        background: url("../img/background.jpg");
        width: 100%;
        height: 400px;
        text-align: center;
    }
    
    .bg .fz21 {
        text-align: center;
        font-size: 21px;
        color: white;
        padding-top: 100px;
    }
    
    .bg .fz40 {
        text-align: center;
        color: white;
        padding-top: 25px;
        font-size: 40px;
    }
    
    .bg .fz18 {
        text-align: center;
        color: white;
        padding-top: 25px;
        font-size: 18px;
    }

    .partner .img .jki {
        height: 100px; 
        margin-left: 120px;
    }
    
    .partner .img .ads {
        height: 100px;
         margin-left: 170px;
    }
    
    .partner .img .vip {
        height: 100px; 
        margin-left: 100px;
    }
    
    .partner .img .letris {
        height: 100px; 
        margin-left: 100px;
    }
    
    .partner .img .konsep {
        height: 100px; 
        margin-left: 120px;
    }
    
    .partner .img .politeknik {
        height: 100px; 
        margin-left: 250px;
    }
    
    .partner .img .umc {
        height: 100px; 
        margin-left: 220px;
    }
    
    .partner .img .tegar {
        height: 100px;
    }    
}

@media screen and (max-width: 500px) {
    .partner .img .jki {
		width: 90px;
        text-align: center;
    }
    
    .partner .img .ads {
		width: 90px;
        text-align: center;
    }
    
    .partner .img .vip {
		width: 90px;
        text-align: center;
    }
    
    .partner .img .letris {
		width: 90px;
		text-align: center;
    }
    
    .partner .img .konsep {
        text-align: center;
		width: 90px;
    }
    
    .partner .img .politeknik {
		width: 90px;
        text-align: center;
    }
    
    .partner .img .umc {
		width: 90px;
        text-align: center;;
    }
    
    .partner .img .tegar {
		width: 90px;
        text-align: center;
    }
}
