* {
    margin: 0;
    padding: 0;
    font-family: 'Oxanium', cursive;
    font-family: 'Play', sans-serif;
}

body {
    background: white;
}

.navbar {
    width: auto;
    height: auto;
    margin: 0;
    padding-left: 15px;
    padding-top: 15px;
    background: #87CEFA;
    box-shadow: 0 0 10px gray;
    z-index: 9999;
    display: flex;
}

.navbar .logo {
    font-size: 24px;
    color: white;
}

.navbar .toggler-navbar {
    margin-right: 15px;
}

.sidebar {
    top: 59px;
    left: 0;
    width: 230px;
    position: absolute;
    height: 280px;
    border-bottom-right-radius: 30px;
    background: #1c93e5;
    text-align: left;
    font-size: 20px;
    transform: rotate3d(0, 1, 0, 90deg);
    transform-origin: left center;
    transition: .5s;
}

.sidebar.open {
    transform: rotate3d(0, 1, 0, 0deg);
}

.sidebar ul {
    list-style: none;
}

.sidebar li:hover,
.sidebar li.active {
    background: #0000003F;
}

.sidebar li a {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.hamburger-menu {
    width: 30px;
    height: 30px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.hamburger-menu span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.hamburger-menu span:nth-child(1) {
    top: 2.5px;
}

.hamburger-menu span:nth-child(2) {
    top: 11px;
}

.hamburger-menu span:nth-child(3) {
    top: 21px;
}

.hamburger-menu.open span:nth-child(1) {
    top: 15px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.hamburger-menu.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.hamburger-menu.open span:nth-child(3) {
    top: 14px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);   
}

.bg {
    background: url("../img/background.jpg");
    width: 100%;
    height: 370px;
    text-align: center;
}

.bg .fz21 {
    text-align: center;
    font-size: 21px;
    color: white;
    padding-top: 80px;
}

.bg .fz40 {
    text-align: center;
    color: white;
    padding-top: 25px;
    font-size: 40px;
}

.bg .fz18 {
    text-align: center;
    color: white;
    padding-top: 25px;
    font-size: 18px;
}

.partner {
    background: white;
    width: 100%;
    height: 650px;
}

.partner .pf {
    font-size: 24px;
    color: black;
    padding-top: 40px;
    text-align: center;
}

.partner .img {
    margin-top: 40px;
}

.partner .img .jki {
    height: 120px;
    margin-left: 300px;
}

.partner .img .ads {
    height: 120px;
     margin-left: 190px;
}

.partner .img .vip {
    height: 110px; 
    margin-left: 250px;
}

.partner .img .letris {
    height: 120px; 
    margin-left: 170px;
}

.partner .img .konsep {
    height: 120px; 
    margin-left: 340px;
}

.partner .img .politeknik {
    height: 100px; 
    margin-left: 255px;
}

.partner .img .umc {
    height: 100px; 
    margin-left: 380px;
}

.partner .img .tegar {
    height: 110px;
    margin-left: 290px;
}

.kursus {
    margin-top: 30px;
    display: flex;
    background: black;
    width: 100%;
}

.kursus .ptn {
    background: url("../img/bg-ptn.jpg");
    width: 25%;
    height: 340px;
    text-align: center;
    opacity: 0.5;
}

.kursus .ptn:hover {
    opacity: 1.0;
}

.kursus .ptn .fptn1 {
    color: black;
    text-align: center;
    font-size: 25px;
    padding-top: 50px;
}

.kursus .ptn .fptn1:hover {
    color: black;
    text-align: center;
    font-size: 25px;
    padding-top: 50px;
}


.kursus .ptn .fptn2 {
    color: black;
    text-align: center;
    font-size: 17px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.kursus .ptn .fptn2:hover {
    color: black;
    text-align: center;
    font-size: 17px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.kursus .ptn .btn {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    color: black;
    border-radius: 10px;
    font-weight: 700;
    background: white;
    padding-bottom: 15px;
    text-decoration: none;
}

.kursus .ptn .btn:hover {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 2px solid blue;
    color: white;
    background-color: black;
    text-decoration: none;
}

.kursus .cpns {
    background: url("../img/bg-cpns.jpg");
    width: 25%;
    height: 340px;
    text-align: center;
    opacity: 0.5;
}

.kursus .cpns:hover {
    opacity: 1.0;
}

.kursus .cpns .fcpns1 {
    font-size: 25px;
    padding-top: 50px;
    color: black;
    text-align: center;
}

.kursus .cpns .fcpns2 {
    color: black;
    text-align: center;
    font-size: 17px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.kursus .cpns .btn {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 700;
    border-radius: 10px;
    color: black;
    background: white;
    text-decoration: none;
}

.kursus .cpns .btn:hover {
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    background-color: black;
    padding-top: 15px;
    border: 2px solid blue;
    padding-bottom: 15px;
    text-decoration: none;
}

.kursus .robotik {
    background: url("../img/bg-robotik.jpg");
    width: 25%;
    height: 340px;
    text-align: center;
    opacity: 0.5;
}

.kursus .robotik:hover {
    opacity: 1.0;
}

.kursus .robotik .frobotik1 {
    font-size: 25px;
    padding-top: 50px;
    color: black;
    text-align: center;
}

.kursus .robotik .frobotik2 {
    color: black;
    text-align: center;
    font-size: 17px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.kursus .robotik .frobotik2:hover {
    color: black;
    text-align: center;
    font-size: 17px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.kursus .robotik .btn {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 700;
    border-radius: 10px;
    color: black;
    background: white;
    text-decoration: none;
}

.kursus .robotik .btn:hover {
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    background-color: black;
    padding-top: 15px;
    border: 2px solid blue;
    padding-bottom: 15px;
    text-decoration: none;
}

.kursus .coding {
    background: url("../img/bg-coding.jpg");
    width: 25%;
    height: 340px;
    text-align: center;
    opacity: 0.5;
}

.kursus .coding:hover {
    opacity: 1.0;
}

.kursus .coding .fcoding1 {
    font-size: 25px;
    padding-top: 50px;
    color: black;
    text-align: center;
}

.kursus .coding .fcoding2 {
    color: black;
    text-align: center;
    font-size: 17px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.kursus .coding .btn {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 700;
    border-radius: 10px;
    color: black;
    background: white;
    text-decoration: none;
}

.kursus .coding .btn:hover {
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    background-color: black;
    padding-top: 15px;
    border: 2px solid blue;
    padding-bottom: 15px;
    text-decoration: none;
}

.alasan {
    background: white;
    width: 100%;
    height: 300px;
    padding-top: 20px;
    margin-top: 30px;
    display: flex;
}

.alasan .text {
    background: white;
    width: 26%;
    height: 250px;
    border-radius: 10px;
    text-align: center;
    margin-left: 3%;
}

.alasan .text .f1 {
    color: black;
    font-size: 15px;
    padding-top: 60px;
}

.alasan .text .f2 {
    font-size: 30px;
    padding-top: 20px;
    color: #1c93e5;
}

.alasan .text .f3 {
    color: black;
    font-size: 24px;
    padding-top: 15px;
}

.alasan .sm {
    margin-left: 3%;
    background: url("../img/solution-maker.jpg");
    width: 20%;
    border-radius: 10px;
    height: 250px;
}

.alasan .sm .f1 {
    font-size: 25px;
    padding-top: 60px;
    text-align: center;
    color: black;
}

.alasan .sm .f2 {
    font-size: 20px;
    padding-top: 20px;
    text-align: center;
    color: black;
}

.alasan .sup {
    margin-left: 3%;
    background: url("../img/support.jpg");
    width: 20%;
    height: 250px;
    border-radius: 10px;
}

.alasan .sup .f1 {
    font-size: 25px;
    padding-top: 60px;
    text-align: center;
    color: black;
}

.alasan .sup .f2 {
    font-size: 20px;
    padding-top: 20px;
    text-align: center;
    color: black;
}

.alasan .impactful {
    margin-left: 3%;
    border-radius: 10px;
    background: url("../img/impactful.jpg");
    width: 20%;
    height: 250px;
}

.alasan .impactful .f1 {
    font-size: 25px;
    padding-top: 60px;
    text-align: center;
    color: black;
}

.alasan .impactful .f2 {
    font-size: 20px;
    padding-top: 20px;
    text-align: center;
    color: black;
}

.motivasi {
    background: url("../img/bg-motivasi.jpg");
    width: 100%;
    height: 540px;
    text-align: center;
}

.motivasi .f1 {
    font-style: italic;
    padding-top: 100px;
    font-size: 30px;
    color: white;
}

.motivasi .f2 {
    font-weight: bold;
    font-size: 30px;
    padding-top: 70px;
    color: white;
}

.motivasi .f3 {
    font-style: italic;
    padding-top: 30px;
    font-size: 30px;
    color: white;
}

.alamat {
    width: 100%;
    background: white;
    margin-top: 40px;
    display: flex;
    height: 400px;
}

.alamat .f1 {
    background: white;
    width: 25%;
    padding-left: 5%;
    height: 300px;
}

.alamat .f1 img {
    height: 100px;
    padding-top: 20px;
    padding-left: 30px;
}

.alamat .f1 .f1txt {
    font-size: 17px;
    color: black;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-top: 20px;
    text-align: left;
}

.alamat iframe {
    width: 50%;
    padding-left: 10%;
    height: 300px;
    padding-top: 20px;
    border: 0;
}

footer {
    background: #192730;
    width: 100%;
    margin-top: 60px;
    height: 80px;
    display: flex;
}

footer .f1 {
    color: white;
    padding-left: 50px;
    font-size: 20px;
    padding-top: 30px;
}

footer .f1 a {
    text-decoration: none;
    color: white;
}

footer .f1 a:hover {
    border: 2px solid white;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

footer .f2 {
    color: white;
    font-size: 20px;
    padding-left: 680px;
    padding-top: 30px;
}

footer .f2 a {
    text-decoration: none;
    color: white;
}

footer .f2 a:hover {
    border: 2px solid white;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

@media only screen and (max-width: 800px) {
    * {
        margin: 0;
        padding: 0;
        font-family: 'Oxanium', cursive;
        font-family: 'Play', sans-serif;
    }
    
    body {
        background: white;
    }
    
    .navbar {
        width: auto;
        height: auto;
        margin: 0;
        padding-top: 15px;
        background: #87CEFA;
        box-shadow: 0 0 10px gray;
        z-index: 9999;
        display: flex;
    }
    
    .navbar .logo {
        font-size: 24px;
        color: white;
    }
    
    .navbar .toggler-navbar {
        margin-right: 15px;
    }
    
    .sidebar {
        top: 59px;
        left: 0;
        width: auto;
        position: absolute;
        height: 280px;
        border-bottom-right-radius: 30px;
        background: #1c93e5;
        text-align: left;
        font-size: 20px;
        transform: rotate3d(0, 1, 0, 90deg);
        transform-origin: left center;
        transition: .5s;
    }
    
    .sidebar.open {
        transform: rotate3d(0, 1, 0, 0deg);
    }
    
    .sidebar ul {
        list-style: none;
    }
    
    .sidebar li:hover,
    .sidebar li.active {
        background: #0000003F;
    }
    
    .sidebar li a {
        color: black;
        text-decoration: none;
        padding: 10px 15px;
        display: block;
    }
    
    .hamburger-menu {
        width: 30px;
        height: 30px;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
    }
    
    .hamburger-menu span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: black;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }
    
    .hamburger-menu span:nth-child(1) {
        top: 2.5px;
    }
    
    .hamburger-menu span:nth-child(2) {
        top: 11px;
    }
    
    .hamburger-menu span:nth-child(3) {
        top: 21px;
    }
    
    .hamburger-menu.open span:nth-child(1) {
        top: 15px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    
    .hamburger-menu.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
    }
    
    .hamburger-menu.open span:nth-child(3) {
        top: 14px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);   
    }
    
    .bg {
        background: url("../img/background.jpg");
        width: 100%;
        height: 370px;
        text-align: center;
    }
    
    .bg .fz21 {
        text-align: center;
        font-size: 23px;
        color: white;
        padding-top: 80px;
    }
    
    .bg .fz40 {
        text-align: center;
        color: white;
        padding-top: 25px;
        font-size: 40px;
    }
    
    .bg .fz18 {
        text-align: center;
        color: white;
        padding-top: 25px;
        font-size: 20px;
    }
    
    .partner {
        background: blueviolet;
        width: 100%;
        height: 680px;
    }
    
    .partner .pf {
        font-size: 22px;
        color: black;
        padding-top: 40px;
        text-align: center;
    }
    
    .partner .img {
        margin-top: 20px;
    }
    
    .partner .img .jki {
        height: 90px;
        margin-left: 120px;
    }
    
    .partner .img .ads {
        height: 110px;
         margin-left: 190px;
    }
    
    .partner .img .vip {
        height: 90px; 
        margin-left: 70px;
        padding-top: 30px;
    }
    
    .partner .img .letris {
        height: 110px; 
        padding-top: 30px;
        margin-left: 160px;
    }
    
    .partner .img .konsep {
        height: 100px; 
        margin-left: 140px;
        padding-top: 30px;
    }
    
    .partner .img .politeknik {
        height: 100px; 
        margin-left: 230px;
    }
    
    .partner .img .umc {
        height: 100px; 
        padding-top: 30px;
        margin-left: 170px;
    }
    
    .partner .img .tegar {
        height: 100px;
        margin-left: 250px;
    }
    
    .kursus {
        margin-top: 30px;
        display: flex;
        background: black;
        width: 100%;
    }
    
    .kursus .ptn {
        background: url("../img/bg-ptn.jpg");
        width: 25%;
        height: 340px;
        text-align: center;
        opacity: 0.5;
    }
    
    .kursus .ptn:hover {
        opacity: 1.0;
    }
    
    .kursus .ptn .fptn1 {
        color: black;
        text-align: center;
        font-size: 25px;
        padding-top: 50px;
    }
    
    .kursus .ptn .fptn1:hover {
        color: black;
        text-align: center;
        font-size: 25px;
        padding-top: 50px;
    }
    
    
    .kursus .ptn .fptn2 {
        color: black;
        text-align: center;
        font-size: 17px;
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .kursus .ptn .fptn2:hover {
        color: black;
        text-align: center;
        font-size: 17px;
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .kursus .ptn .btn {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 15px;
        color: black;
        border-radius: 10px;
        font-weight: 700;
        background: white;
        padding-bottom: 15px;
        text-decoration: none;
    }
    
    .kursus .ptn .btn:hover {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
        border: 2px solid blue;
        color: white;
        background-color: black;
        text-decoration: none;
    }
    
    .kursus .cpns {
        background: url("../img/bg-cpns.jpg");
        width: 25%;
        height: 340px;
        text-align: center;
        opacity: 0.5;
    }
    
    .kursus .cpns:hover {
        opacity: 1.0;
    }
    
    .kursus .cpns .fcpns1 {
        font-size: 25px;
        padding-top: 50px;
        color: black;
        text-align: center;
    }
    
    .kursus .cpns .fcpns2 {
        color: black;
        text-align: center;
        font-size: 17px;
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .kursus .cpns .btn {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-weight: 700;
        border-radius: 10px;
        color: black;
        background: white;
        text-decoration: none;
    }
    
    .kursus .cpns .btn:hover {
        padding-left: 30px;
        padding-right: 30px;
        color: white;
        background-color: black;
        padding-top: 15px;
        border: 2px solid blue;
        padding-bottom: 15px;
        text-decoration: none;
    }
    
    .kursus .robotik {
        background: url("../img/bg-robotik.jpg");
        width: 25%;
        height: 340px;
        text-align: center;
        opacity: 0.5;
    }
    
    .kursus .robotik:hover {
        opacity: 1.0;
    }
    
    .kursus .robotik .frobotik1 {
        font-size: 25px;
        padding-top: 50px;
        color: black;
        text-align: center;
    }
    
    .kursus .robotik .frobotik2 {
        color: black;
        text-align: center;
        font-size: 17px;
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .kursus .robotik .frobotik2:hover {
        color: black;
        text-align: center;
        font-size: 17px;
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .kursus .robotik .btn {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-weight: 700;
        border-radius: 10px;
        color: black;
        background: white;
        text-decoration: none;
    }
    
    .kursus .robotik .btn:hover {
        padding-left: 30px;
        padding-right: 30px;
        color: white;
        background-color: black;
        padding-top: 15px;
        border: 2px solid blue;
        padding-bottom: 15px;
        text-decoration: none;
    }
    
    .kursus .coding {
        background: url("../img/bg-coding.jpg");
        width: 25%;
        height: 340px;
        text-align: center;
        opacity: 0.5;
    }
    
    .kursus .coding:hover {
        opacity: 1.0;
    }
    
    .kursus .coding .fcoding1 {
        font-size: 25px;
        padding-top: 50px;
        color: black;
        text-align: center;
    }
    
    .kursus .coding .fcoding2 {
        color: black;
        text-align: center;
        font-size: 17px;
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .kursus .coding .btn {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-weight: 700;
        border-radius: 10px;
        color: black;
        background: white;
        text-decoration: none;
    }
    
    .kursus .coding .btn:hover {
        padding-left: 30px;
        padding-right: 30px;
        color: white;
        background-color: black;
        padding-top: 15px;
        border: 2px solid blue;
        padding-bottom: 15px;
        text-decoration: none;
    }
    
    .alasan {
        background: white;
        width: 100%;
        height: 300px;
        padding-top: 20px;
        margin-top: 30px;
        display: flex;
    }
    
    .alasan .text {
        background: white;
        width: 26%;
        height: 250px;
        border-radius: 10px;
        text-align: center;
        margin-left: 3%;
    }
    
    .alasan .text .f1 {
        color: black;
        font-size: 15px;
        padding-top: 60px;
    }
    
    .alasan .text .f2 {
        font-size: 30px;
        padding-top: 20px;
        color: #1c93e5;
    }
    
    .alasan .text .f3 {
        color: black;
        font-size: 24px;
        padding-top: 15px;
    }
    
    .alasan .sm {
        margin-left: 3%;
        background: url("../img/solution-maker.jpg");
        width: 20%;
        border-radius: 10px;
        height: 250px;
    }
    
    .alasan .sm .f1 {
        font-size: 25px;
        padding-top: 60px;
        text-align: center;
        color: black;
    }
    
    .alasan .sm .f2 {
        font-size: 20px;
        padding-top: 20px;
        text-align: center;
        color: black;
    }
    
    .alasan .sup {
        margin-left: 3%;
        background: url("../img/support.jpg");
        width: 20%;
        height: 250px;
        border-radius: 10px;
    }
    
    .alasan .sup .f1 {
        font-size: 25px;
        padding-top: 60px;
        text-align: center;
        color: black;
    }
    
    .alasan .sup .f2 {
        font-size: 20px;
        padding-top: 20px;
        text-align: center;
        color: black;
    }
    
    .alasan .impactful {
        margin-left: 3%;
        border-radius: 10px;
        background: url("../img/impactful.jpg");
        width: 20%;
        height: 250px;
    }
    
    .alasan .impactful .f1 {
        font-size: 25px;
        padding-top: 60px;
        text-align: center;
        color: black;
    }
    
    .alasan .impactful .f2 {
        font-size: 20px;
        padding-top: 20px;
        text-align: center;
        color: black;
    }
    
    .motivasi {
        background: url("../img/bg-motivasi.jpg");
        width: 100%;
        height: 540px;
        text-align: center;
    }
    
    .motivasi .f1 {
        font-style: italic;
        padding-top: 100px;
        font-size: 30px;
        color: white;
    }
    
    .motivasi .f2 {
        font-weight: bold;
        font-size: 30px;
        padding-top: 70px;
        color: white;
    }
    
    .motivasi .f3 {
        font-style: italic;
        padding-top: 30px;
        font-size: 30px;
        color: white;
    }
    
    .alamat {
        width: 100%;
        background: white;
        margin-top: 40px;
        display: flex;
        height: 400px;
    }
    
    .alamat .f1 {
        background: white;
        width: 25%;
        padding-left: 5%;
        height: 300px;
    }
    
    .alamat .f1 img {
        height: 100px;
        padding-top: 20px;
        padding-left: 30px;
    }
    
    .alamat .f1 .f1txt {
        font-size: 17px;
        color: black;
        padding-bottom: 40px;
        padding-left: 20px;
        padding-top: 20px;
        text-align: left;
    }
    
    .alamat iframe {
        width: 50%;
        padding-left: 14%;
        height: 340px;
        padding-top: 20px;
        border: 0;
    }
    
    footer {
        background: #192730;
        width: 100%;
        margin-top: 60px;
        height: 80px;
    }
    
    footer .f1 {
        color: white;
        padding-left: 20px;
        font-size: 20px;
        padding-top: 30px;
    }
    
    footer .f1 a {
        text-decoration: none;
        color: white;
        padding-left: 4px;
    }
    
    footer .f1 a:hover {
        border: 2px solid white;
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    footer .f2 {
        color: white;
        font-size: 20px;
        padding-left: 160px;
        padding-top: 30px;
    }
    
    footer .f2 a {
        text-decoration: none;
        color: white;
    }
    
    footer .f2 a:hover {
        border: 2px solid white;
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media only screen and (max-width: 60px0) {
    * {
        margin: 0;
        padding: 0;
        font-family: 'Oxanium', cursive;
        font-family: 'Play', sans-serif;
    }
    
    body {
        background: white;
    }
    
    .navbar {
        width: auto;
        height: auto;
        margin: 0;
        padding-top: 15px;
        background: #87CEFA;
        box-shadow: 0 0 10px gray;
        z-index: 9999;
        display: flex;
    }
    
    .navbar .logo {
        font-size: 24px;
        color: white;
    }
    
    .navbar .toggler-navbar {
        margin-right: 15px;
    }
    
    .sidebar {
        top: 59px;
        left: 0;
        width: auto;
        position: absolute;
        height: 280px;
        border-bottom-right-radius: 30px;
        background: #1c93e5;
        text-align: left;
        font-size: 20px;
        transform: rotate3d(0, 1, 0, 90deg);
        transform-origin: left center;
        transition: .5s;
    }
    
    .sidebar.open {
        transform: rotate3d(0, 1, 0, 0deg);
    }
    
    .sidebar ul {
        list-style: none;
    }
    
    .sidebar li:hover,
    .sidebar li.active {
        background: #0000003F;
    }
    
    .sidebar li a {
        color: black;
        text-decoration: none;
        padding: 10px 15px;
        display: block;
    }
    
    .hamburger-menu {
        width: 30px;
        height: 30px;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
    }
    
    .hamburger-menu span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: black;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }
    
    .hamburger-menu span:nth-child(1) {
        top: 2.5px;
    }
    
    .hamburger-menu span:nth-child(2) {
        top: 11px;
    }
    
    .hamburger-menu span:nth-child(3) {
        top: 21px;
    }
    
    .hamburger-menu.open span:nth-child(1) {
        top: 15px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    
    .hamburger-menu.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
    }
    
    .hamburger-menu.open span:nth-child(3) {
        top: 14px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);   
    }
    
    .bg {
        background: url("../img/background.jpg");
        width: 100%;
        height: 370px;
        text-align: center;
    }
    
    .bg .fz21 {
        text-align: center;
        font-size: 23px;
        color: white;
        padding-top: 80px;
    }
    
    .bg .fz40 {
        text-align: center;
        color: white;
        padding-top: 25px;
        font-size: 40px;
    }
    
    .bg .fz18 {
        text-align: center;
        color: white;
        padding-top: 25px;
        font-size: 20px;
    }
    
    .partner {
        background: gray;
        width: 100%;
        height: 680px;
    }
    
    .partner .pf {
        font-size: 22px;
        color: black;
        padding-top: 40px;
        text-align: center;
    }
    
    .partner .img {
        margin-top: 20px;
    }
    
    .partner .img .jki {
        height: 120px;
        margin-left: 170px;
    }
    
    .partner .img .ads {
        height: 110px;
         margin-left: 190px;
    }
    
    .partner .img .vip {
        height: 90px; 
        margin-left: 70px;
        padding-top: 30px;
    }
    
    .partner .img .letris {
        height: 110px; 
        padding-top: 30px;
        margin-left: 160px;
    }
    
    .partner .img .konsep {
        height: 100px; 
        margin-left: 140px;
        padding-top: 30px;
    }
    
    .partner .img .politeknik {
        height: 100px; 
        margin-left: 230px;
    }
    
    .partner .img .umc {
        height: 100px; 
        padding-top: 30px;
        margin-left: 170px;
    }
    
    .partner .img .tegar {
        height: 100px;
        margin-left: 250px;
    }
    
    .kursus {
        margin-top: 30px;
        display: flex;
        background: black;
        width: 100%;
    }
    
    .kursus .ptn {
        background: url("../img/bg-ptn.jpg");
        width: 25%;
        height: 340px;
        text-align: center;
        opacity: 0.5;
    }
    
    .kursus .ptn:hover {
        opacity: 1.0;
    }
    
    .kursus .ptn .fptn1 {
        color: black;
        text-align: center;
        font-size: 25px;
        padding-top: 50px;
    }
    
    .kursus .ptn .fptn1:hover {
        color: black;
        text-align: center;
        font-size: 25px;
        padding-top: 50px;
    }
    
    
    .kursus .ptn .fptn2 {
        color: black;
        text-align: center;
        font-size: 17px;
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .kursus .ptn .fptn2:hover {
        color: black;
        text-align: center;
        font-size: 17px;
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .kursus .ptn .btn {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 15px;
        color: black;
        border-radius: 10px;
        font-weight: 700;
        background: white;
        padding-bottom: 15px;
        text-decoration: none;
    }
    
    .kursus .ptn .btn:hover {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
        border: 2px solid blue;
        color: white;
        background-color: black;
        text-decoration: none;
    }
    
    .kursus .cpns {
        background: url("../img/bg-cpns.jpg");
        width: 25%;
        height: 340px;
        text-align: center;
        opacity: 0.5;
    }
    
    .kursus .cpns:hover {
        opacity: 1.0;
    }
    
    .kursus .cpns .fcpns1 {
        font-size: 25px;
        padding-top: 50px;
        color: black;
        text-align: center;
    }
    
    .kursus .cpns .fcpns2 {
        color: black;
        text-align: center;
        font-size: 17px;
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .kursus .cpns .btn {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-weight: 700;
        border-radius: 10px;
        color: black;
        background: white;
        text-decoration: none;
    }
    
    .kursus .cpns .btn:hover {
        padding-left: 30px;
        padding-right: 30px;
        color: white;
        background-color: black;
        padding-top: 15px;
        border: 2px solid blue;
        padding-bottom: 15px;
        text-decoration: none;
    }
    
    .kursus .robotik {
        background: url("../img/bg-robotik.jpg");
        width: 25%;
        height: 340px;
        text-align: center;
        opacity: 0.5;
    }
    
    .kursus .robotik:hover {
        opacity: 1.0;
    }
    
    .kursus .robotik .frobotik1 {
        font-size: 25px;
        padding-top: 50px;
        color: black;
        text-align: center;
    }
    
    .kursus .robotik .frobotik2 {
        color: black;
        text-align: center;
        font-size: 17px;
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .kursus .robotik .frobotik2:hover {
        color: black;
        text-align: center;
        font-size: 17px;
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .kursus .robotik .btn {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-weight: 700;
        border-radius: 10px;
        color: black;
        background: white;
        text-decoration: none;
    }
    
    .kursus .robotik .btn:hover {
        padding-left: 30px;
        padding-right: 30px;
        color: white;
        background-color: black;
        padding-top: 15px;
        border: 2px solid blue;
        padding-bottom: 15px;
        text-decoration: none;
    }
    
    .kursus .coding {
        background: url("../img/bg-coding.jpg");
        width: 25%;
        height: 340px;
        text-align: center;
        opacity: 0.5;
    }
    
    .kursus .coding:hover {
        opacity: 1.0;
    }
    
    .kursus .coding .fcoding1 {
        font-size: 25px;
        padding-top: 50px;
        color: black;
        text-align: center;
    }
    
    .kursus .coding .fcoding2 {
        color: black;
        text-align: center;
        font-size: 17px;
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .kursus .coding .btn {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-weight: 700;
        border-radius: 10px;
        color: black;
        background: white;
        text-decoration: none;
    }
    
    .kursus .coding .btn:hover {
        padding-left: 30px;
        padding-right: 30px;
        color: white;
        background-color: black;
        padding-top: 15px;
        border: 2px solid blue;
        padding-bottom: 15px;
        text-decoration: none;
    }
    
    .alasan {
        background: white;
        width: 100%;
        height: 300px;
        padding-top: 20px;
        margin-top: 30px;
        display: flex;
    }
    
    .alasan .text {
        background: white;
        width: 26%;
        height: 250px;
        border-radius: 10px;
        text-align: center;
        margin-left: 3%;
    }
    
    .alasan .text .f1 {
        color: black;
        font-size: 15px;
        padding-top: 60px;
    }
    
    .alasan .text .f2 {
        font-size: 30px;
        padding-top: 20px;
        color: #1c93e5;
    }
    
    .alasan .text .f3 {
        color: black;
        font-size: 24px;
        padding-top: 15px;
    }
    
    .alasan .sm {
        margin-left: 3%;
        background: url("../img/solution-maker.jpg");
        width: 20%;
        border-radius: 10px;
        height: 250px;
    }
    
    .alasan .sm .f1 {
        font-size: 25px;
        padding-top: 60px;
        text-align: center;
        color: black;
    }
    
    .alasan .sm .f2 {
        font-size: 20px;
        padding-top: 20px;
        text-align: center;
        color: black;
    }
    
    .alasan .sup {
        margin-left: 3%;
        background: url("../img/support.jpg");
        width: 20%;
        height: 250px;
        border-radius: 10px;
    }
    
    .alasan .sup .f1 {
        font-size: 25px;
        padding-top: 60px;
        text-align: center;
        color: black;
    }
    
    .alasan .sup .f2 {
        font-size: 20px;
        padding-top: 20px;
        text-align: center;
        color: black;
    }
    
    .alasan .impactful {
        margin-left: 3%;
        border-radius: 10px;
        background: url("../img/impactful.jpg");
        width: 20%;
        height: 250px;
    }
    
    .alasan .impactful .f1 {
        font-size: 25px;
        padding-top: 60px;
        text-align: center;
        color: black;
    }
    
    .alasan .impactful .f2 {
        font-size: 20px;
        padding-top: 20px;
        text-align: center;
        color: black;
    }
    
    .motivasi {
        background: url("../img/bg-motivasi.jpg");
        width: 100%;
        height: 540px;
        text-align: center;
    }
    
    .motivasi .f1 {
        font-style: italic;
        padding-top: 100px;
        font-size: 30px;
        color: white;
    }
    
    .motivasi .f2 {
        font-weight: bold;
        font-size: 30px;
        padding-top: 70px;
        color: white;
    }
    
    .motivasi .f3 {
        font-style: italic;
        padding-top: 30px;
        font-size: 30px;
        color: white;
    }
    
    .alamat {
        width: 100%;
        background: white;
        margin-top: 40px;
        display: flex;
        height: 400px;
    }
    
    .alamat .f1 {
        background: white;
        width: 25%;
        padding-left: 5%;
        height: 300px;
    }
    
    .alamat .f1 img {
        height: 100px;
        padding-top: 20px;
        padding-left: 30px;
    }
    
    .alamat .f1 .f1txt {
        font-size: 17px;
        color: black;
        padding-bottom: 40px;
        padding-left: 20px;
        padding-top: 20px;
        text-align: left;
    }
    
    .alamat iframe {
        width: 50%;
        padding-left: 14%;
        height: 340px;
        padding-top: 20px;
        border: 0;
    }
    
    footer {
        background: #192730;
        width: 100%;
        margin-top: 60px;
        height: 80px;
    }
    
    footer .f1 {
        color: white;
        padding-left: 20px;
        font-size: 20px;
        padding-top: 30px;
    }
    
    footer .f1 a {
        text-decoration: none;
        color: white;
        padding-left: 4px;
    }
    
    footer .f1 a:hover {
        border: 2px solid white;
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    footer .f2 {
        color: white;
        font-size: 20px;
        padding-left: 160px;
        padding-top: 30px;
    }
    
    footer .f2 a {
        text-decoration: none;
        color: white;
    }
    
    footer .f2 a:hover {
        border: 2px solid white;
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
}
